{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">

  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <title>Moni</title>
</head>
<body>
<div>
  <div class="container">
    <div class="jumbotron header-container" style="background-color: lightblue">
      <a href="{% url 'loan:home' %}"><p class="text-right" style="color: black">Home.</p></a>
      <a href="{% url 'loan:loan_admin' %}"><p class="text-right" style="color: black">Sitio administrativo.</p></a>
      <a href="{% url 'loan:loan_request' %}"><p class="text-right" style="color: black">Solicitar prestamo.</p></a>
      <h1>Moni technical Test</h1>
    </div>
    {% block content %}
    {% endblock %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>