{% extends 'base.html' %}


{% block javascript %}
  <script>
    $(".delete_button").click(function() {
      var id = $(this).attr('id');
      $.ajax({
        url : 'ajax/loan_delete/',
        type: 'post',
        data : {'id': id},
        data_type : 'json',
        success: function (data) {
          if (data.id !== null) {
            $('.stack'+data.id).html('')
          }
        },
        error : function (data) {
          alert(data)
        }

      })
    });
  </script>

{% endblock %}

{% block content %}
  <h2>Lista de prestamos</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>Solicitante</th>
        <th>Monto</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
  <tbody class="table_body">
    {% for loan in loan_list %}
      <tr class="stack{{ loan.id }}">
        <td>{{ loan.id }}</td>
        <td>
          {{ loan.applicant.name }}
          {{ loan.applicant.last_name }}
        <td> $ {{ loan.amount }}</td>
        <td>
          {% if loan.approved %}
            Aprobado
          {% elif loan.approved == None %}
            En espera
          {% else %}
            Desaprobado
          {% endif %}
        </td>
        <td style="width: 150px">
          <a class="btn btn-info btn-sm text-black-50" type="button"
             href="{% url 'loan:loan_edit' loan.id %}"> Editar </a>
          <a type="button"
                  class="delete_button btn btn-info btn-sm text-black-50"
                  id="{{ loan.id }}">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  {% if loan_list.has_other_pages %}
    <div >
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if loan_list.has_previous %}
            <li><a href="?page={{ loan_list.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in loan_list.paginator.page_range %}
            {% if loan_list.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if loan_list.has_next %}
            <li><a href="?page={{ loan_list.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endif %}

{% endblock %}