{% extends 'base.html' %}

{% block javascript %}
  <script>
    $('#submit-form').submit(function (e) {
      e.preventDefault();
      $.ajax({
        type: 'post',
        url: 'ajax/validate_data/',
        data_type: 'json',
        data: {
          name: $('#id_name').val(),
          last_name: $('#id_last_name').val(),
          dni: $('#id_dni').val(),
          gender: $('#id_gender').val(),
          email: $('#id_email').val(),
          amount: $('#id_amount').val()
        },
        success: function (data) {
          if (data.approved && !data.error) {
            $('#approved p').text("Aprobado");
            document.getElementById("submit-form").reset();
          } else if (data.error) {
            $('#approved p').text("Ha ocurrido un error, al procesa su pedido");
          } else {
            $('#approved p').text("Su pago fue Denegado");
          }

        },
        error: function (data) {
        }
      })
    });
  </script>
{% endblock %}


{% block content %}
<h1>Solicitud de prestamo</h1>
  <form method="POST" id="submit-form">
    {% csrf_token %}
    {{ form.as_p }}
      <input type="submit" value="Solicitar prestamo">
  </form>

  <div id="approved">
    <p></p>
  </div>

{% endblock %}