{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
{% block body %}
<br />
<div class="row clearfix">
    <div class="col-md-4 col-md-offset-4 back-login">
        {% if form %}
            <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
              {{ form.as_p }}
            <input type="submit" class="btn btn-lg btn-info" value="{% trans "Login" %}" />
            </form>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">{% trans "Too many failed attempts." %}<br/>{% trans "Try again later." %}</div>
            </div>
        {% endif %}

        <div class="col-md-12">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">{% trans "Username and password do not match" %}.<br /> {% trans "Please try again" %}.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
